* {
	font-family: Arial;
}

.nodots li {
    list-style-type: none;
}

#point {
	cursor: pointer;
}

.nav-content {
	background-color: rgb(255, 225, 76);
}

.main-content {
	padding-left: 12px;
	padding-right: 12px;
}

.hobbies ul {
	list-style-type: "- ";
}

.instagram {
	background: #d6249f;
 	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.instagram:hover, .telegram:hover, .github:hover {
	box-shadow: 0px 0px 8px white;
}

.instagram:active, .telegram:active, .github:active {
	border-color: black!important;
	box-shadow: 0px 0px 8px black;
}

.telegram {
	background:linear-gradient(120deg, #0088cc, #FFFFFF);
}

.github:hover, .github:active {
	background: white!important;
}

.github {
	background: white;
}

.btn {
	padding: 1.3em;
}

.fs-7 {
	font-size: 0.9rem;
}

.mx-6 {
	margin-left: 3%;
	margin-right: 3%;
}

@media(min-width: 1400px) {
	.mx-6 {
		margin-left: 17%;
		margin-right: 17%;
	}
}

@media(min-width: 1200px) and (max-width: 1399.98px) {
	.mx-6 {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media(min-width: 768px) and (max-width: 1199.98px) {
	.mx-6 {
		margin-left: 5%;
		margin-right: 5%;
	}
}